<div>
    <h2 data-translate="processDefinition.home.title">Process Definitions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="process-definition.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="processDefinition.home.createLabel">
                        Create new Process Definition
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="processDefinition.name">Name</span></th>
                    <th><span data-translate="processDefinition.specificationFile">Specification File</span></th>
                    <th><span data-translate="processDefinition.camundaDeploymentId">Camunda Deployment Id</span></th>
                    <th><span data-translate="processDefinition.camundaProcessDefinitionId">Camunda Process Definition Id</span></th>
                    <th><span data-translate="processDefinition.bpmnProcessDefinitionId">bpmnProcessDefinitionId</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="processDefinition in vm.processDefinitions track by processDefinition.id">
                    <td><a ui-sref="process-definition-detail({id:processDefinition.id})">{{processDefinition.id}}</a></td>
                    <td>{{processDefinition.name}}</td>
                    <td>
                        <a ng-if="processDefinition.specificationFile" ng-click="vm.openFile(processDefinition.specificationFileContentType, processDefinition.specificationFile)" data-translate="entity.action.open">open</a>
                        <span ng-if="processDefinition.specificationFile">{{processDefinition.specificationFileContentType}}, {{vm.byteSize(processDefinition.specificationFile)}}</span>
                    </td>
                    <td>{{processDefinition.camundaDeploymentId}}</td>
                    <td>{{processDefinition.camundaProcessDefinitionId}}</td>
                    <td>{{processDefinition.bpmnProcessDefinitionId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="process-definition-detail({id:processDefinition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="process-definition.edit({id:processDefinition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="process-definition.delete({id:processDefinition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
