
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskHandleOrderLabel" data-translate="orderbookApp.taskHandleOrder.home.createOrEditLabel">Create or edit a Task Handle Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taskHandleOrder.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.taskHandleOrder.id" readonly />
        </div>
        <div class="form-group">
            <label for="id" data-translate="label.businessKey">Business Key</label>
            <input type="text" class="form-control" id="businessKey" name="businessKey"
                    ng-model="vm.taskHandleOrder.orderBookProcessBusinessKey" ng-disabled="true" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="orderbookApp.taskHandleOrder.orderStatus" for="field_orderStatus">Order Status</label>
            <input  type="text" class="form-control" name="orderStatus" id="field_orderStatus"
                    ng-model="vm.taskHandleOrder.orderStatus"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
